Basic Data Cleaning in Python

In [5]:
# Step 1: Import necessary libraries
import pandas as pd
import numpy as np

In [6]:
# Step 2: Load the dataset
#df = pd.read_csv('your_dataset.csv')
df = pd.read_excel('Customer Call List.xlsx')

# Display the first few rows of the dataset
print("Original Dataset:")
df.head()

Original Dataset:

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

Handle missing values

In [7]:
# Fill missing values in numerical columns with the mean
numerical_columns = df.select_dtypes(include=[np.number]).columns
df[numerical_columns] = df[numerical_columns].fillna(df[numerical_columns].mean())

# Fill missing values in categorical columns with the mode
categorical_columns = df.select_dtypes(include=['object']).columns
df[categorical_columns] = df[categorical_columns].fillna(df[categorical_columns].mode().iloc[0])

# Check for remaining missing values
print("Missing values after cleaning:")
df.isnull().sum()

Missing values after cleaning:

CustomerID           0
First_Name           0
Last_Name            0
Phone_Number         0
Address              0
Paying Customer      0
Do_Not_Contact       0
Not_Useful_Column    0
dtype: int64

Remove Duplicates

In [8]:
# Remove duplicate rows
df = df.drop_duplicates()

# Check the shape of the dataset after removing duplicates
print("Shape of dataset after removing duplicates:")
df.shape

Shape of dataset after removing duplicates:

(20, 8)

Convert Data Types (if necessary)

In [9]:
# Example: Convert a column to datetime
df['date_column'] = pd.to_datetime(df['date_column'], errors='coerce')

# Check the data types of the columns
print("Data types after conversion:")
df.dtypes

KeyError: 'date_column'

Remove Outliers (using Z-score for numerical columns)

In [10]:
# Calculate Z-scores for numerical columns
z_scores = np.abs(zscore(df[numerical_columns]))

# Remove rows where any numerical column has a Z-score greater than 3
df = df[(z_scores < 3).all(axis=1)]

# Check the shape of the dataset after removing outliers
print("Shape of dataset after removing outliers:")
df.shape

NameError: name 'zscore' is not defined

Standardize Text Data

In [ ]:
# Standardize text data (e.g., lowercasing, stripping whitespace)
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.str.strip().str.lower())

# Display a sample of the cleaned text data
print("Sample of standardized text data:")
df[categorical_columns].head()

Drop Unnecessary Columns

In [ ]:
# Drop columns that are not needed
df = df.drop(columns=['unnecessary_column1', 'unnecessary_column2'])

# Display the columns after dropping
print("Columns after dropping unnecessary ones:")
df.columns

Rename Columns

In [ ]:
# Rename columns for better readability
df = df.rename(columns={'old_name': 'new_name'})

# Display the updated column names
print("Updated column names:")
df.columns

Save and display final cleaned dataset

In [ ]:
df.to_csv('cleaned_dataset.csv', index=False)

print("Cleaned dataset saved as 'cleaned_dataset.csv'")

# Display the first few rows of the cleaned dataset
print("Final Cleaned Dataset:")
df.head()